.App {
  text-align: left;
}

.App-header {
  background-color: rgb(247, 244, 240);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQizFLS5cchZS3-9Kqwj1cSok9OiHMyWx32ig&usqp=CAU");
  min-height: 100vh;

}

.App-link {
  color: #61dafb;
}


